/* nav-vertical.component.css */
.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.card-body {
    margin-top: 0.5rem;
    background-color: #f8f9fa; /* Fondo claro para los detalles */
    color: #495057; /* Color oscuro para el texto */
}

.table {
    margin-bottom: 0; /* Reduce el espacio debajo de la tabla */
}

.btn-sm {
    padding: 0.25rem 0.5rem; /* Ajusta el padding para los botones pequeños */
}
